@font-face {
  font-style: normal;
  font-weight: bold;
  font-family: "Segoe UI";

  src: url("../fonts/segoeuib.eot");
  src: url("../fonts/segoeuib.eot?#iefix") format("embedded-opentype"),
  url("../fonts/segoeuib.woff2") format("woff2"),
  url("../fonts/SegoeUI-Bold.svg#SegoeUI-Bold") format("svg"),
  url("../fonts/SegoeUI-Bold.ttf") format("truetype"),
  url("../fonts/SegoeUI-Bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Segoe UI";

  src: url("../fonts/segoeui.eot");
  src: url("../fonts/segoeui.eot?#iefix") format("embedded-opentype"),
  url("../fonts/segoeui.woff2") format("woff2"),
  url("../fonts/SegoeUI.svg#SegoeUI") format("svg"),
  url("../fonts/SegoeUI.ttf") format("truetype"),
  url("../fonts/SegoeUI.woff") format("woff");
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  font-weight: normal;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #05141d;

  background-color: #ffffff;
}

.button {
  display: inline-block;
  padding: 25px 55px;

  font: inherit;
  font-weight: 700;
  font-size: 48px;
  line-height: 39px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #007fb2;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* HEADER */

.page-header {
  background-color: #231f20;
}

.page-header__logo-container {
  width: 228px;
  height: 37px;
}

.page-header__site-name {
  color: #edeceb;
}

.page-header__phone {
  font-weight: 700;
  font-size: 32px;
  color: #edeceb;
}

/* INTRO SECTION */

.intro {
  min-height: 955px;

  background-color: #cdd5da;
  background-image: url("../img/intro-bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.page-heading {
  margin: 0;
  padding: 0;

  font-size: 90px;
  line-height: 39px;
  color: #05141d;
}

.intro__logo-container {
  width: 162px;
  height: 164px;
}

.intro__features {
  margin: 0;
  padding: 0;

  list-style: none;
}

.intro__features-item h2 {
  font-size: 50px;
  line-height: 50px;
  color: #741c2f;
}

.intro__features-item p {
  line-height: 39px;
}

.section-heading {
  margin: 0;
  padding: 0;

  font-size: 72px;
  line-height: 39px;
}

.about {
  min-height: 1080px;

  background-color: #ffffff;
  background-image: url("../img/about-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.about p {
  margin: 0;
  padding: 0;
}

.about__features {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about__features-item {
  font-weight: 700;
  font-size: 24px;
}

.about__notice {
  font-size: 36px;
}
