/* FONTS */

@font-face {
  font-style: normal;
  font-weight: bold;
  font-family: "Segoe UI";

  src: url("../fonts/segoeuib.eot");
  src: url("../fonts/segoeuib.eot?#iefix") format("embedded-opentype"),
  url("../fonts/segoeuib.woff2") format("woff2"),
  url("../fonts/SegoeUI-Bold.svg#SegoeUI-Bold") format("svg"),
  url("../fonts/SegoeUI-Bold.ttf") format("truetype"),
  url("../fonts/SegoeUI-Bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Segoe UI";

  src: url("../fonts/segoeui.eot");
  src: url("../fonts/segoeui.eot?#iefix") format("embedded-opentype"),
  url("../fonts/segoeui.woff2") format("woff2"),
  url("../fonts/SegoeUI.svg#SegoeUI") format("svg"),
  url("../fonts/SegoeUI.ttf") format("truetype"),
  url("../fonts/SegoeUI.woff") format("woff");
}

/* DEFAULT STYLES */

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  font-weight: normal;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #05141d;

  background-color: #ffffff;
}

.container {
  max-width: 1490px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  padding: 25px 55px;

  font: inherit;
  font-weight: 700;
  font-size: 48px;
  line-height: 39px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #007fb2;
  border: none;
  border-radius: 15px;
  cursor: pointer;

  transition: all 0.2s ease-in;
}

.button:hover,
.button:focus {
  background-color: #005577;
}

.section-heading {
  margin: 0;
  padding: 0;

  font-size: 72px;
  line-height: 39px;
}

/* HEADER */

.page-header {
  padding: 10px 0;

  background-color: #231f20;
}

.page-header .container {
  display: flex;
}

.page-header__logo-container {
  width: 228px;
  height: 37px;
  margin-left: 25px;
}

.page-header__site-name {
  margin-top: 12px;
  margin-left: 80px;

  color: #edeceb;
}

.page-header__phone {
  margin-right: 100px;
  margin-left: auto;

  font-weight: 700;
  font-size: 32px;
  color: #edeceb;

  transition: all 0.2s ease-in;
}

.page-header__phone:hover,
.page-footer__phone:focus {
  color: #909090;
}

/* INTRO SECTION */

.intro {
  background-color: #cdd5da;
  background-image: url("../img/intro-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.intro .container {
  display: flex;
  flex-direction: column;
  min-height: 947px;
  padding-top: 20px;
  padding-bottom: 85px;
}

.page-heading {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;

  font-size: 90px;
  text-align: center;
  color: #05141d;
}

.intro__logo-container {
  align-self: center;
  width: 162px;
  height: 164px;
}

.intro__features {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 275px;
  padding: 0;
  padding-right: 128px;
  padding-left: 128px;

  list-style: none;
  text-align: center;
}

.intro__features-item {
  max-width: 380px;
}

.intro__features-item h2 {
  margin: 0;
  padding: 0;

  font-size: 50px;
  line-height: 50px;
  color: #741c2f;
}

.intro__features-item p {
  line-height: 39px;
}

.intro__button {
  align-self: center;
  margin-top: auto;
}

/* ABOUT SECTION */

.about {
  min-height: 1080px;

  background-color: #ffffff;
  background-image: url("../img/about-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.about p {
  margin: 0;
  padding: 0;
}

.about__features {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about__features-item {
  font-weight: 700;
  font-size: 24px;
}

.about__notice {
  font-size: 36px;
}

/* PRODUCT SECTION */

.product {
  min-height: 1483px;

  background-color: #f0efee;
  background-image: url("../img/product-bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.product__list {
  margin: 0;
  padding: 0;
}

.product__list h3 {
  margin: 0;
  padding: 0;

  font-size: 36px;
}

.product__table {
  text-align: center;
}

.product__table tr:nth-child(odd) td {
  background-color: #d7d7d7;
}

.product__table td {
  line-height: 36px;
}

.product__info h3 {
  margin: 0;
  padding: 0;

  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.product__info ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

/* ORDER SECTION */

.order {
  min-height: 691px;

  background-color: #e8f3f5;
  background-image: url("../img/order-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.order .section-heading {
  color: #007fb2;
}

.form__item input {
  padding: 7px 12px;

  border: 1px solid #007fb2;
}

.form__item input::placeholder {
  font: inherit;
  color: #19171c;
}

/* CONTACTS SECTION */

.contacts address {
  font-style: normal;
}

.contacts p {
  margin: 0;
  padding: 0;
}

.contacts__work-time--weekends {
  color: #be0000;
}

.contacts__phone {
  color: #05141d;
}

.contacts__email {
  color: #1a8cba;
}

.contacts__map {
  min-height: 649px;

  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* SEO SECTION */

.seo__text p {
  margin: 0;
  padding: 0;
}

/* FOOTER */

.page-footer {
  text-align: center;
}

.page-footer p {
  margin: 0;
  padding: 0;
}

.page-footer__phone {
  color: #19171c;
}
